.form{
    width: 400px;
    height: 500px;
    background: rgb(212, 209, 209);
    margin-left: 400px;
}

.head{
    margin-left: 80px;
    margin-top: 40px;
}
.name{
    float: left;
    width: 144px;
    height: 23px;
    border-radius: 3px;
    border-color: #fff;
    font-size: 15px;
    margin-top: 30px;
    
}
.email{
    width: 297px;
    height: 23px;
    margin-top: 8px;
    border-radius: 3px;
    border-color: #fff;
    font-size: 15px;
}
.password{
    float: left;
    width: 144px;
    height: 23px;
    border-radius: 3px;
    border-color: #fff;
    font-size: 15px;
    margin-top: 8px;  
}
.gender{
    float: left;
    margin-top: 8px;
}
.birth{
    
    margin-top: 70px;
    
}
.day{
    float: left;
    margin-top: 8px;
    
}
.month{
    float: left;
    margin-top: 8px;
}
.year{
    float: left;
    margin-top: 8px;
}
.birth{
    margin-top: 70px;

}
.submit{
    margin-top: 80px;
width: 100px;
height: 30px;
background: gray;
}